<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowPage</title>
</head>
<body>
<div id="add_item">
    <form>
        <label>Добавить новое задание:</label>
            <input type="text" id="description_item">
            <input type="button" value="create" id="button_item">
    </form>
</div>

<div>
    <label>Показать все заявки: </label>
    <input type="checkbox" id="view_all" checked>
</div>

<div id="all_items">
    <table id="items_table" border="2">

    </table>
</div><br>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>