<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.apetrov.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>ru.apetrov.controller.SigninServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowUsers</servlet-name>
        <servlet-class>ru.apetrov.controller.ShowUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowUsers</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>

</web-app>