<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="allusers">
    <table id="userstable" border="2">

    </table>
</div>

<div id="adduser">
    <form id="userform" action="/add" method="get">
        <div class="field">
            <label>Login: </label>
            <input type="text" id="login">
        </div>
        <div class="field">
            <label>Password: </label>
            <input type="password" id="password">
        </div>
        <div class="field">
            <label>Name: </label>
            <input type="text" id="name">
        </div>
        <div class="field">
            <label>E-mail: </label>
            <input type="text" id="email">
        </div>
        <div class="field">
            <label>Country: </label>
            <input type="text" id="country">
        </div>
        <div class="field">
            <label>City: </label>
            <input type="text" id="city">
        </div>
        <div class="field">
            <label>Srteet</label>
            <input type="text", id="street">
        </div>
        <div class="field">
            <label>House: </label>
            <input type="text" id="house">
        </div>
        <div class="field">
            <label>Role: </label>
            <select id="roleslist">

            </select>
        </div>
        <div class="field">
            <label id="musiclist">MusicType: </label>

        </div>
        <div class="field">
            <input type="button" value="input" id="button">
        </div>
    </form>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>