<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="allusers">
    <table id="userstable" border="2">
        <tr>
            <th>login</th>
            <th>user_name</th>
            <th>email</th>
            <th>country</th>
            <th>city</th>
            <th>street</th>
            <th>house</th>
            <th>role</th>
            <th>music_type</th>
            <th colspan="2">actions</th>
        </tr>

    </table>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>