<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="finders">
<div id="find-all" class="finder">
    <form>
        <label>Show All:
            <div class="field">
                <input type="button" value="show" id="button-find-all">
            </div>
        </label>
    </form>
</div>

<div id="find-by-address" class="finder">
    <form>
        <label>Find User by address:
            <div class="field">
                <label>Country:<input type="text" id="by-country"></label>
            </div>
            <div class="field">
                <label>City:<input type="text" id="by-city"></label>
            </div>
            <div class="field">
                <label>Street:<input type="text" id="by-street"></label>
            </div>
            <div class="field">
                <label>House:<input type="text" id="by-house"></label>
            </div>
            <div class="field">
                <input type="button" value="find" id="button-find-address">
            </div>
        </label>
    </form>
</div>

<div id="find-by-role" class="finder">
    <form>
        <label>Find User by role:
            <div class="field">
                <label>Role:<input type="text" id="by-role"> </label>
            </div>
            <div class="field">
                <input type="button" value="find" id="button-find-role">
            </div>
        </label>
    </form>
</div>

<div id="find-by-music" class="finder">
    <form>
        <label>Find User By Music:
            <div class="field">
                <label>Music:<input type="text" id="by-music"></label>
            </div>
            <div class="field">
                <input type="button" value="find" id="button-find-music">
            </div>
        </label>
    </form>
</div>
</div>

<div id="allusers">
    <table id="userstable" border="2">

    </table>
</div><br>

<div id="adduser" hidden>
    <form id="userform">
        <div class="field">
            <label>Login:
            <input type="text" id="login"></label>
        </div>
        <div class="field">
            <label>Password:
            <input type="password" id="password"></label>
        </div>
        <div class="field">
            <label>Name:
            <input type="text" id="name"></label>
        </div>
        <div class="field">
            <label>E-mail:
            <input type="text" id="email"></label>
        </div>
        <div class="field">
            <label>Country:
            <input type="text" id="country"></label>
        </div>
        <div class="field">
            <label>City:
            <input type="text" id="city"></label>
        </div>
        <div class="field">
            <label>Srteet:
            <input type="text" id="street"></label>
        </div>
        <div class="field">
            <label>House:
            <input type="text" id="house"></label>
        </div>
        <div class="field">
            <label>Role:
            <select id="roleslist">

            </select></label>
        </div>
        <div class="field">
            <label>MusicType: </label>
            <div id="musiclist">

            </div>
        </div>
        <div class="field">
            <input type="button" value="input" id="button">
        </div>
    </form>
</div>

<div id="updateuser" hidden>
    <form id="updateform">
        <div class="field">
            <label>New Password: </label>
            <input type="password" id="newpassword">
        </div>
        <div class="field">
            <label>New Name: </label>
            <input type="text" id="newname">
        </div>
        <div class="field">
            <label>New E-mail: </label>
            <input type="text" id="newemail">
        </div>
        <div class="field">
            <label>New Country: </label>
            <input type="text" id="newcountry">
        </div>
        <div class="field">
            <label>New City: </label>
            <input type="text" id="newcity">
        </div>
        <div class="field">
            <label>New Srteet</label>
            <input type="text" id="newstreet">
        </div>
        <div class="field">
            <label>New House: </label>
            <input type="text" id="newhouse">
        </div>
        <div class="field">
            <label>New Role: </label>
            <select id="newroleslist">

            </select>
        </div>
        <div class="field">
            <label>New MusicType: </label>
            <div id="newmusiclist">

            </div>
        </div>
        <div class="field">
            <input type="button" value="update" id="newbutton">
        </div>
    </form>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<link rel="stylesheet" href="/css/styles.css">
</body>
</html>