<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="updateuser">
    <form id="updateform">
        <div class="field">
            <label>New Password: </label>
            <input type="password" id="newpassword">
        </div>
        <div class="field">
            <label>New Name: </label>
            <input type="text" id="newname">
        </div>
        <div class="field">
            <label>New E-mail: </label>
            <input type="text" id="newemail">
        </div>
        <div class="field">
            <label>New Country: </label>
            <input type="text" id="newcountry">
        </div>
        <div class="field">
            <label>New City: </label>
            <input type="text" id="newcity">
        </div>
        <div class="field">
            <label>New Srteet</label>
            <input type="text", id="newstreet">
        </div>
        <div class="field">
            <label>New House: </label>
            <input type="text" id="newhouse">
        </div>
        <div class="field">
            <label>New Role: </label>
            <select id="newroleslist">

            </select>
        </div>
        <div class="field">
            <label>New MusicType: </label>
            <div id="newmusiclist">

            </div>
        </div>
        <div class="field">
            <input type="button" value="update" id="newbutton">
        </div>
    </form>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/update.js"></script>
</body>
</html>