<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>ShowUsers</servlet-name>
        <servlet-class>ru.apetrov.controller.IndexPage</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowUsers</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>ru.apetrov.controller.AddUser</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>ru.apetrov.controller.UpdateUser</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>ru.apetrov.controller.DeleteUser</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
</web-app>