<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>ShowPage</servlet-name>
        <servlet-class>ru.apetrov.controller.ShowPage</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowPage</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateItem</servlet-name>
        <servlet-class>ru.apetrov.controller.CreateItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateItem</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowItems</servlet-name>
        <servlet-class>ru.apetrov.controller.ShowItems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowItems</servlet-name>
        <url-pattern>/get_items</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowFailedItems</servlet-name>
        <servlet-class>ru.apetrov.controller.ShowFailedItems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowFailedItems</servlet-name>
        <url-pattern>/get_failed_items</url-pattern>
    </servlet-mapping>
</web-app>